/* (C) Copyright Bobbing Wide 2015, 2017, 2019, 2021, 2022 */
/* Custom.css for written theme */

/**
 * Overrides for:
 * - Colours
 * - Fonts 
 * - Padding and margins 
 * - Media queries
 * 
 * Let's see if this works!
 * 
 */

/* Hover styling for follow me using genericons and dashicons but not SVG */
span.bw_follow_me:hover,
a.svgicons:hover svg {
	color: #f5f5f5;
	fill: currentColor;
	color: currentColor;
}

div.center img.full {
	display: block;
	margin: 0 auto;
}


/**
 Stripe styling, margin and padding for the latest posts block.
 */
ul.wp-block-latest-posts  li:nth-of-type( odd ),
ol.wp-block-latest-comments li:nth-of-type( odd ) {
	background-color: #f5f5f5;
}

ul.wp-block-latest-posts li,
ol.wp-block-latest-comments li {
	padding-left: 10px; margin: 10px 0;
}

ol.wp-block-latest-comments {
	padding-inline-start: 0px;
}

/* Style the post image within an article and oik-blocks/fields featured image. */
img.post-image,
div.featured img.featured {
    transition: all 1s ease;   
    margin: 0 2%;
		max-width: 96%;
}

img.post-image:hover,
div.featured img.featured:hover {  
    margin: 0;
		max-width: 100%;
}

/**

div.bw_tides_0 a:nth-of-type(2):after {
	content:"\000A";
	white-space: pre;
}
*/

div.bw_tides_0 span:nth-of-type(2) {
	display: block;
	padding-bottom: 5px;
}

.bw_geshi.none { color: #ffffff; background-color: #040204; }
.bw_geshi pre { }
.bw_geshi.php { background-color: #eee; margin-bottom: 5px; }


table.bw_plug { }
.bw_plug td:nth-of-type( 1 ) { width: 50%; }
.bw_plug td:nth-of-type( 2 ) { width: 30%; text-align: center; vertical-align: middle; }
.bw_plug td:nth-of-type( 3 ) { width: 20%; text-align: right; vertical-align: middle;}
.bw_plug .links { width: 30%; text-align: center; vertical-align: middle;}
.bw_plug .vtdlut { width: 30%; text-align: right; vertical-align: middle; }


/**
 Gutenberg's media styling kicks in at 782px.
 How is this controlled?

 */


figure.wp-block-image { 
	background-color: #dddddd; 
	padding: 4px;
}


figure.wp-block-image.new::before { 
	content: "New";
}


figure.wp-block-image.classic::before { 
	content: "classic";
}

figure.wp-block-image.Classic:before {
	content: "Classic - mixed case";
}

/**
 * Extra space for the first block's toolbar
 */
.editor-post-title div {
    margin-bottom: 13px;
}

pre.wp-block-code.serif code,
code.wp-block-asis.serif {
	font-family: serif
}

pre.wp-block-code.sans code, 
code.wp-block-asis.sans,
pre.wp-block-free.sans {
	font-family: sans-serif;
}

pre.wp-block-free {
	margin: 0px;
}

/**
 * CSS for hacking the size of SVG icons
 * without changing width= height= and viewBox=
 */
svg.svg32 {
	width: 32px;
	height: 32px;
} 

svg.svg48 {
	width: 48px;
	height: 48px;
} 


code.svg64 svg, 
svg.svg64 {
	width: 64px;
	height: 64px;
}

code svg {
	display: block;
}
code.svg64 td {
	width: 16.666%;
	padding-top: 30px;
	border-top: 0px solid #ffffff;
	font-size: 16px;
}

div.textwidget p.warning {
	background-color: yellow;
	color: black;
	font-weight: bold;
}

/* Add some left and right padding */

h2.wp-block-post-title {
	padding-left: 20px;
	padding-right: 20px;
}
.wp-block-post-content p,
.wp-block-post-excerpt p,
.wp-block-post-content h2,
.wp-block-post-content h3,
.wp-block-post-content h4,
.wp-block-table {
	padding-left: 20px;
	padding-right: 20px;
}

/* Add some left and right margins */
div.bw_geshi {
	margin-left: 20px;
	margin-right: 20px;
}